<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUPABASE_APP_KEY</key>
	<string>${SUPABASE_APP_KEY}</string>
	<key>SUPABASE_APP_URL</key>
	<string>${SUPABASE_APP_URL}</string>
</dict>
</plist>
